#plik roboczy rozdziału 5
chapter5.txt
mod/curriencies.txt


#katalogi
/src
/node_modules
/test_jest/node_modules

#inne pliki
*.orig
*.stackdump
PHP/ProjektA/config/config.php
config.php

PHP/Zelent/connect.php
Ewa/debug.log

PrestaShop/*
!PrestaShop/generator_modulow.py
!PrestaShop/Dodatki
